@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

#colophon {
    background: #3A3C41;
    color: #FFF;
}

#footer-info {
    background: #292A2F;
    padding: 10px 0;
    font-size: 12px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#colophon a {
    color: #CCC;
}